src/main/resources/xsd/pedido.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pedido">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="cliente_id" type="xs:long"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
